[package]
name = "jutsu-cpi"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
pinocchio.workspace = true
pinocchio-system.workspace = true
jutsu-errors.workspace = true